<!-- Footer  -->
<footer class="page-footer font-small bg-primary ">
  <!-- Copyright -->
  		<div class="footer-copyright text-center py-0"> © 2018 Copyright </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
